@import "normalize";
@import "mixin";
@import "vr";


@font-face {
  font-family: 'montserratblack';
  src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'montserratlight', sans-serif;
  margin: 0;
}

body{
  background:#f5f6f8 ;
}

button{
  outline: none;
  border: none;
}

.container{
  max-width: 970px;
  margin: 0 auto;
}

ul{
  padding: 0;
  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
}

//=================================== header =================================//

header{
  background: url("../img/banner_1.png") no-repeat center;
  background-size: cover;
  nav{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    .logo{
      margin-left: 6px;
    }
    li{
      &:hover{
        background: black;
        a{
          color: white;
        }
      }
    }
    .first-row{
      font-size: 12px;
      position: relative;
      display: inline-block;
      padding: 13px 15px;
      text-transform: uppercase;
      cursor: pointer;
      a{
        color: $colorOne;
      }
      &:first-child{
        a{
          color: $colorTwo;
        }
      }
      &:last-child{
        &:hover{
          background: transparent;
          cursor: auto;
          i{
            cursor: pointer;
          }
        }
      }
      i{
        position: relative;
        padding-left: 7px;
        font-size: 14px;
      }
      &:hover{
        background: $colorTwo;
        a{
          color: white;
        }
        .second-row{
          display: block;
          li{
            a{
              color: $colorTwo;
            }
            &:hover{
              a{
                color: white;
              }
            }
          }
        }
      }
      .second-row{
        position: absolute;
        left: 0;
        top: 38px;
        display: none;
        padding-left: 0;
        width: 100%;
        li{
          font-size: 12px;
          padding: 13px 0 13px 14px;
          display: block;
          &:hover{
            color: white;
            background: $colorTwo;
          }
        }
      }

      //========================== burger menu for desktop version =====================//

      .burger_menu{
        position: relative;
        .burger{
          width: 22px;
          height: 12px;
          position: relative;
          i{
            color: $colorTwo;
            font-size: 14px;
          }
        }
      }
      .second-row_burger{
        display: none;
        position: absolute;
        top:43px;
        left: -38px;
        text-align: right;
        .blocks_menu{
          padding: 13px 20px;
          a{
            color: black;
          }
          &:hover{
            background: black;
            a{
              color: white;
            }
          }
        }
      }
    }
    .menu_open{
      .second-row_burger{
        display: block;
      }
    }
  }

  //==================================== end ========================================//

  .header_text{
    max-width: 400px;
    padding-top: 20.5%;
    padding-bottom: 26%;
    margin-left: 10px;
    h3{
      color:  $colorFour;
      font-size: 72px;
      line-height: 80px;
      text-align: left;
      font-weight: 300;
      text-transform: uppercase;
    }
    p{
      color:  $colorFour;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      padding-left: 7px;
      padding-top: 10px;
    }
  }

  //==============================burger menu for mobile version  ===================//

  .responsive_menu {
    display: none;
    .menu__icon {
      width: 30px;
      height: 25px;
      position: relative;
      cursor: pointer;
      right: 10px;
      bottom: -7px;
      span{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1){
          top: 0;
        }
        &:nth-child(2){
          top: 8px;
        }
        &:nth-child(3) {
          top: 8px;
        }
        &:nth-child(4) {
          top: 16px;
        }
      }
    }
    .menu__links {
      display: none;
      .second-row{
        text-align: center;
        top: 8px;
        li{
          display: block;
          text-align: center;
        }
      }
    }
  }
  .menu_state_open{
    .menu__icon{
      span{
        &:nth-child(1) {
          top: 18px;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
          background: $colorThree;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          background:$colorThree;
        }
        &:nth-child(4) {
          top: 18px;
          width: 0;
          left: 50%;
        }
      }
    }
    .menu__links {
      display: block;
    }
  }
  //=================================== end =======================================//
}

 //=================================== first section ===============================//

.first{
  text-align: center;
  padding-top: 159px;
  padding-bottom: 102px;
  .section_content{
    display: flex;
    justify-content: space-around;
    .block{
      max-width: 271px;
      color: $colorOne;
      h5{
        color: $colorFour;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 22px;
      }
      p{
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 19px;
      }
      a{
        font-size: 11px;
        text-transform: uppercase;
        color: $colorFour;
        letter-spacing: 1px;
        &:hover{
          color: $colorThree;
        }
      }
      &:first-child{
        .img{
          padding-top: 7px;
          padding-bottom: 25px;
        }
      }
      &:nth-child(2){
        .img{
          padding-bottom: 19px;
        }
      }
      &:nth-child(3){
        .img{
          padding-top: 8px;
          padding-bottom: 38px;
        }
        h5{
          padding-bottom: 32px;
        }
      }
      span{
        background: $colorThree;
        color: white;
        padding: 8px 12px;
        border-radius: 13px;
        margin-left: 9px;
        font-size: 10px;
        position: relative;
        bottom: 3px;
      }
    }
  }
}

//=================================== second section ===============================//

.second{
  background: $colorThree;
  padding-top: 74px;
  padding-bottom: 35px;
  position: relative;
  .slider{
    padding-left: 174px;
    position: relative;
    max-width: 915px;
    .img{
      position: relative;
      img{
        display: block;
      }
    }
  }
  .section__slider{
    position: absolute;
    bottom: 13%;
    left: 29.8%;
    max-width: 344px;
    transform:  rotate(-37.8deg) translateX(12px) skewX(11.3deg) skewY(1deg);
    .section__slider__element{
      min-height: 639px;
      outline: none;
      background: darkslategray;
      .img_slider{
        position: relative;
        top: 250px;
        left: 119px;
        img{
          margin: 0 auto;
        }
      }
    }
    .background_one{
      background: #232323;
    }
    .background_two{
      background: #000000;
    }
  }
  .blocks_container{
    background: white;
    position: absolute;
    bottom: 108px;
    right: 240px;
    min-width: 386px;
    .block{
      padding-left: 32px;
      padding-right: 42px;
      .header{
        display: flex;
        padding-top: 37px;
        justify-content: space-between;
        .text{
          max-width: 230px;
          h6{
            color: $colorFour;
            font-size: 18px;
            line-height: 24px;
            padding-top: 12px;
            padding-bottom:12px;
          }
          p{
            color: $colorOne;
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 6px;
          }
        }
      }
    }
  }
  button{
    background: $colorTwo;
    text-transform: uppercase;
    color: white;
    padding: 23px 130px;
    font-size: 12px;
    font-weight: 300;
    margin-top: 53px;
    width: 100%;
    &:hover{
      cursor: pointer;
      color: $colorThree;
    }
  }
  .prev{
    @include slideArrow;
    left: -171px;
    bottom: 44%;
    i{
      padding-top: 14px;
      padding-left: 23px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 40px;
    }
  }
  .next{
    @include slideArrow;
    left: 409px;
    bottom: 47%;
    i{
      padding-top: 14px;
      padding-left: 23px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 40px;
    }
  }
}

//=================================== third section ===============================//

.third{
  .title_text{
    background: white;
    text-align: center;
    padding-top: 111px;
    padding-bottom: 108px;
    h4{
      color: $colorFour;
      font-size: 72px;
      font-weight: 300;
      padding-bottom: 42px;
    }
    p{
      color: $colorFour;
      font-size: 18px;
      line-height: 26px;
      max-width: 446px;
      margin: 0 auto;
    }
  }
  .section_content{
    padding-top: 99px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
    .block{
      max-width: 237px;
      margin-left: 10px;
      margin-right: 10px;
      h5{
        color: $colorFour;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 20px;
      }
      p{
        color:  $colorOne;
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 18px;
      }
      a{
        text-transform: uppercase;
        color: $colorFour;
        &:hover{
          color:$colorThree;
        }
      }
      &:nth-child(2){
         p{
           padding-bottom: 39px;
         }
       }
      &:nth-child(3){
        p{
          padding-bottom: 40px;
        }
      }
    }
  }
}

//=================================== fourth section ===============================//

.fourth{
  .background{
    background:$colorTwo;
    text-align: left;
    margin: 0 110px;
    padding-top: 120px;
    padding-bottom: 130px;
    position: relative;
  }
  .title_text{
    padding-left: 127px;
    h4{
      color:  white;
      font-size: 72px;
      line-height: 80px;
      font-weight: 300;
      max-width: 571px;
      padding-bottom: 42px;
    }
    p{
      color:  $colorOne;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      max-width: 410px;
    }
    button{
      @include button;
      padding: 18px 52px;
      border-radius: 36px;
      color:  $colorFour;
      font-size: 12px;
      font-weight: 300;
      margin-top: 160px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .slider{
    position: absolute;
    max-width: 815px;
    right: -110px;
    top:268px;
    img{
      display: block;
    }
    .section__slider{
      position: absolute;
      max-width: 688px;
      top: 41px;
      right: 0;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
      border-left:2px solid gray ;
      .section__slider__element{
        min-height: 578px;
        background: #ebebeb;
        .img_slider{
          position: relative;
          top: 205px;
          left: 312px;
        }
        &:nth-child(2){
          background: gray;
        }
        &:nth-child(3){
          background: $colorThree;
        }
      }
    }
  }
  .prev{
    @include slideArrow;
    left: -208px;
    bottom: 44%;
    i{
      padding-top: 12px;
      padding-left: 20px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 40px;
    }
  }
}

//=================================== fifth section ===============================//

.fifth{
  padding-top: 312px;
  padding-bottom: 96px;
  text-align: center;
  .title_text{
    max-width: 838px;
    margin: 0 auto;
    p{
      color:  $colorTwo;
      font-size: 12px;
      font-weight: 300;
      padding-bottom: 36px;
      text-transform: uppercase;
      &:last-child{
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
      }
    }
  }
  .row{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    .block{
      text-align: left;
      margin-right: 10px;
      margin-left: 10px;
      .header{
        display: flex;
        .text{
          max-width: 198px;
          padding-left: 15px;
          h6{
            color:  $colorFour;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            padding-bottom: 7px;
          }
          p{
            color:  $colorOne;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
          }
        }
      }
    }
    &:last-child{
      padding-top: 80px;
    }
  }
}

//=================================== sixth section ===============================//

.sixth{
  text-align: center;
  .section_content{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .block{
      position: relative;
      width: 796px;
      background: white;
      padding-top: 81px;
      padding-bottom: 48px;
      margin: 0 15px;
      p{
        color:  $colorFour;
        font-size: 42px;
        line-height: 50px;
        max-width: 574px;
        margin: 0 auto;
        &:nth-child(3){
          padding-top: 7px;
          font-size: 12px;
          color:  $colorFour;
          text-transform: uppercase;
        }
      }
      &:first-child{
        margin-left: -26%;
      }
      &:last-child{
        margin-right: -26%;
      }
    }
  }
  .quotes-left{
    position: absolute;
    color: #d3d3d3;
    left: 43px;
    top: 42px;
  }
  .quotes-right{
    position: absolute;
    color: #d3d3d3;
    right: 48px;
    bottom: 45px;
  }
}

//=================================== seventh section ===============================//

.seventh{
  padding-top: 86px;
  padding-bottom: 67px;
  text-align: center;
  h3{
    color:  $colorFour;
    font-family: 'montserratblack', sans-serif;
    text-transform: uppercase;
    padding-bottom: 37px;
    font-size: 26px;
    line-height: 41px;
  }
  .row{
    padding-bottom:44px ;
    display: flex;
    .img{
      position: relative;
      img{
        display: block;
        width: 100%;
      }
      .hover{
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s;
        a{
          position: relative;
          @include button;
          border-radius: 0;
          color: $colorTwo;
          padding: 17px;
          top: 45%;
          &:hover{
            cursor: pointer;
          }
        }
        &:hover{
          cursor: pointer;
          opacity: 1;
        }
      }
    }
    &:first-child{
      .img{
        &:first-child{
          position: relative;
          left: -42px;
          bottom: 52px;
        }
        &:last-child{
          position: relative;
          left: 80px;
          bottom: 13px;
        }
      }
    }
    &:nth-child(2){
      position: relative;
      .img{
        &:first-child{
          position: relative;
          bottom: 13px;
        }
        &:last-child{
          position: absolute;
          right: -317px;
          bottom: 60px;
        }
      }
    }
    &:last-child{
      position: relative;
      .img{
        &:first-child{
          position: absolute;
          left: -317px;
          bottom: 200px;
        }
        &:nth-child(2){
          position: relative;
          left:-26px;
          bottom: 10px;
        }
        &:last-child{
          position: relative;
          left: 137px;
          bottom: -12px;
        }
      }
    }
  }
}

//=================================== eighth section ===============================//

.eighth{
  text-align: center;
  .title_text{
    background: white;
    padding-top: 80px;
    padding-bottom: 74px;
    h4{
      color:  $colorFour;
      font-size: 72px;
      font-weight: 300;
    }
  }
  .section_content{
    padding-top: 84px;
    display: flex;
    .block{
      max-width: 240px;
      margin: 0 auto;
      padding: 40px;
      p{
        color:  $colorOne;
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 43px;
        &:first-child{
          color:  $colorFour;
        }
        &:nth-child(2){
          color:  $colorFour;
          font-family: 'montserratblack', sans-serif;
          font-size: 50px;
          font-weight: 900;
          padding-bottom: 27px;
          text-transform: none;
        }
        &:nth-child(3){
          font-size: 14px;
          line-height: 22px;
          text-transform: none;
        }
      }
      button{
        background: transparent;
        text-transform: uppercase;
        outline: none;
        padding: 20px 42px;
        font-size: 13px;
        border-radius: 36px;
        cursor: pointer;
      }
      &:hover{
        background:$colorTwo;
        cursor: pointer;
        p{
          color: white;
          &:nth-child(3){
            color:  $colorOne;
          }
        }
        button{
          @include button;
        }
      }
      &:first-child{
        p{
          &:nth-child(3){
            padding-bottom: 17px;
          }
        }
      }
    }
  }
}

//=================================== footer ===============================//

footer{
  .title_text{
    position: relative;
    top: 133px;
    z-index: 1;
    max-width: 1026px;
    margin: 0 auto;
    h4{
      font-family: 'montserratblack', sans-serif;
      font-size: 90.02px;
      font-weight: 900;
      line-height: 120px;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
  .background{
    background: url("../img/banner_2.png") no-repeat center;
    background-size: cover;
    padding-bottom: 97px;
    padding-top: 364px;
    position: relative;
    z-index: 2;
    .section_content{
      background: $colorTwo;
      display: flex;
      padding: 25px 58px 48px;
      .row {
        display: flex;
        .logo {
          padding-right: 40px;
          padding-top: 15px;
        }
        ul {
          padding-top: 10px;
          padding-right: 101px;
          li {
            text-transform: uppercase;
            padding: 13px 0;
            font-size: 12px;
            a {
              color: white;
              &:hover {
                cursor: pointer;
                color: $colorThree;
                transition: 0.5s;
              }
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
          &:last-child {
            padding-right: 85px;
          }
        }
        p {
          color: rgba(255, 255, 255, 0.2);
          font-size: 11px;
          font-weight: 300;
          line-height: 32px;
          &:hover {
            cursor: pointer;
            color: $colorThree;
            transition: 0.5s;
          }
          &:last-child {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.2);
            &:hover {
              cursor: pointer;
              color: $colorThree;
              transition: 0.5s;
            }
          }
        }
        .contacts {
          text-align: right;
          p{
            &:hover{
              cursor: auto;
              color: rgba(255, 255, 255, 0.2);
            }
          }
          .img {
            padding-bottom: 62px;
          }
          ul {
            padding: 7px 0 0;
            li {
              text-align: left;
              padding: 0 12px;
              display: inline-block;
              i {
                font-size: 23px;
              }
              &:first-child {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
              }
            }
          }
          a {
            color: rgba(255, 255, 255, 0.2);
            &:hover {
              cursor: pointer;
              color: $colorThree;
              transition: 0.5s;
            }
          }
        }
        &:nth-child(2){
            ul{
              &:first-child{
              padding-right: 172px;
            }
          }
        }
      }
    }
  }
}



//============================== responsive ==============================//

@media all and  (max-width: 1599px) {

  .seventh{
    .row{
      &:nth-child(2){
        .img{
          &:last-child {
            position: absolute;
            right: -247px;
            bottom: 60px;
          }
        }
      }
    }
  }
}

@media all and  (max-width: 1470px) {

  .second{
    .slider{
      padding-left: 74px;
      .section__slider{
        left: 30%;
      }
    }
    .blocks_container{
      right: 100px;
    }
  }

  .fourth{
    .slider{
      max-width: 710px;
      .img{
        img{
          display: block;
          width: 100%;
        }
      }
      .section__slider {
        position: absolute;
        max-width: 588px;
        top: 41px;
        .section__slider__element{
          min-height: 491px;
          .img_slider{
            top: 144px;
            left: 222px;
          }
        }
      }
    }
  }

  .seventh{
    .row{
      &:nth-child(2){
        .img{
          &:last-child {
            display: none;
          }
        }
      }
      &:last-child{
        .img{
          &:first-child {
            display: none;
          }
        }
      }
    }
  }
}


@media all and  (max-width: 1370px) {

  .second{
    .slider{
      padding-left: 24px;
    }
    .blocks_container{
      right: 100px;
    }
  }

  .fourth{
    .slider{
      max-width: 510px;
      .section__slider {
        position: absolute;
        max-width: 431px;
        top: 41px;
        .section__slider__element{
          min-height: 331px;
            .img_slider{
              top: 66px;
              left: 121px;
            }
        }
      }
    }
    .prev{
      left: -155px;
    }
  }

  .fifth{
    padding-top:140px;
  }
}

@media all and  (max-width: 1210px) {

  .second{
    .slider{
      padding-left: 10px;
    }
    .blocks_container{
      right: 15px;
    }
  }

}

@media all and  (max-width: 1180px) {

  .fourth{
    .slider{
      top: 311px;
    }
    .background{
      .title_text{
        padding-left: 30px;
        p{
          max-width: 232px;
        }
      }
    }
    .prev{
      left: -144px;
    }
  }

  .sixth{
    .section_content{
      .block{
        p{
          font-size: 32px;
          line-height: 35px;
        }
      }
    }
  }

  .seventh{
    .row{
      &:first-child{
        .img{
          &:first-child{
            left: 0;
          }
          &:last-child {
            left: 23px;
          }
        }
      }
      &:last-child{
        .img{
          &:nth-child(2){
            left: 0;
          }
          &:last-child{
            left: 23px;
          }
        }
      }
    }
  }
}


@media all and  (max-width: 970px) {
  .second{
    .slider{
      display: none;
    }
    .blocks_container{
      position: static;
      max-width: 362px;
      min-width: 0;
      margin: 0 auto;
      .block{
        .header{
          .text{
            padding-left: 20px;
          }
        }
      }
    }
  }

  .fourth{
    .background{
      padding: 50px 0;
      .title_text{
        text-align: center;
        padding-left: 0;
        h4{
          margin: 0 auto;
        }
        p{
          max-width: 400px;
          margin:  0 auto;
        }
        button{
          margin-top: 77px;
        }
      }
    }
    .slider{
      display: none;
    }
  }

  .sixth{
    padding-bottom: 30px;
    .section_content{
      .block{
        p{
          font-size: 31px;
        }
      }
    }
  }

  .seventh{
    display: none;
  }
  footer {
    .background {
      .container{
        max-width: 850px;
      }
      .section_content{
        padding: 33px 30px 48px;
        .contacts{
          ul{
            padding: 0;
          }
        }
        .row{
          &:nth-child(2){
            ul{
              &:first-child{
                padding-right: 100px;
              }
            }
          }
        }
      }
    }
  }
}


@media all and  (max-width: 840px) {
  header{
    nav{
      .menu{
        margin-right: 10px;
        .first-row{
          padding: 13px 8px;
          .second-row_burger{
            left: -43px;
            text-align: right;
            .blocks_menu{
              padding: 13px 10px
            }
          }
          .second-row{
            li{
              padding: 13px 10px;
            }
          }
        }
      }
    }
  }

  .first{
    padding-top: 100px;
    padding-bottom: 40px;
    .section_content{
      display: block;
      .block{
        margin: 0 auto 20px;
      }
    }
  }

  .third{
    .section_content{
      display: block;
      padding-top: 51px;
      padding-bottom: 0;
      .block{
        margin: 0 auto 20px;
      }
    }
  }


  .fourth{
    .background{
      margin: 0;
      .title_text{
        h4{
          font-size: 40px;
        }
      }
    }
  }

  .fifth{
    padding-top: 70px;
    padding-bottom: 40px;
    .title_text{
      padding: 0 5px;
    }
    .row{
      display: block;
      &:last-child{
        padding: 0;
        .block{
          &:last-child{
            .header{
              .text{
                padding-left: 20px;
              }
            }
          }
        }
      }
      .block{
        padding: 20px 0;
        max-width: 300px;
        margin: 0 auto;
        .header{
          .text{
            max-width: 250px;
          }
        }
        &:last-child{
          .header{
            .text{
             padding-left: 38px;
            }
          }
        }
      }
    }
  }

  .sixth{
    .section_content{
      .block{
        p{
          font-size: 22px;
          line-height: 24px;
        }
      }
    }
  }

  .eighth{
    .title_text{
      padding: 50px 0;
    }
    .container{
      .section_content{
        display: block;
        padding-top: 50px;
      }
    }
  }

  footer{
    .title_text{
      h4{
        font-size: 60px;
        line-height: 69px;
      }
    }
    .background{
      .container{
        max-width: 700px;
        .section_content{
          ul{
            padding-right: 50px;
            &:last-child{
              padding-right: 50px;
            }
          }
          .contacts{
            ul{
              padding-right: 0;
            }
          }
          .row{
            &:nth-child(2){
              ul{
                &:first-child{
                  padding-right: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 780px){
  .sixth{
    display: none;
  }
}


@media all and (min-width: 706px){

  header{
    .responsive_menu.menu_state_open{
      .menu__links{
        display: none;
      }
    }
  }
  .menu {
    ul {
      .first-row{
        display: inline-block !important;
      }
    }
  }
}



@media all and  (max-width: 705px) {
  header{
    nav{
      .first-row{
        &:hover{
          .second-row{
            position: relative;
            color: white;
          }
        }
      }
    }
    .menu {
      display: none;
    }
    .responsive_menu {
      display: inline-block;
      .menu__links {
        position: absolute;
        top: 92px;
        right: 0;
        background: 0 0;
        width: 100%;
        padding: 0;
        background: rgba(38, 230, 230, 0.9);
        .menu__links-item{
          display: block;
          text-align: center;
          a{
            color: $colorFour;
          }
          &:hover{
            background: black;
            a{
              color: white;
            }
          }
          .second-row{
            left: -14px;
          }
        }
      }
    }
  }
  .third{
    .title_text{
      padding: 50px 5px;
    }
  }

  footer{
    .background{
      .container{
        .section_content{
          position: relative;
          display: block;
          max-width: 300px;
          margin: 0 auto;
          padding: 23px 16px 48px;
          .row{
            padding-top: 30px;
            ul{
              padding-right: 25px;
              padding-top: 10px;
              &:nth-child(2){
                padding-right: 45px;
              }
            }
            .contacts{
              ul{
                padding-right: 0;
                li{
                  padding: 0 7px;
                }
              }
            }
            .logo{
              padding-right: 45px;
            }
          }
        }
      }
    }
  }
}

@media all and  (max-width: 470px) {
  header{
    .header_text{
      max-width: 371px;
      h3{
        font-size: 40px;
        line-height: 45px;
        font-weight: 900;
      }
    }
  }
  .second{
    button{
      padding: 23px 100px;
    }
  }

  .third{
    .title_text{
      h4{
        font-size: 40px;
        line-height: 45px;
      }
    }
  }

  .eighth{
    .title_text{
      h4{
        font-size: 40px;
        line-height: 45px;
      }
    }
  }

  footer {
    .background{
      background:transparent;
      padding-top: 80px;
      padding-bottom: 0;
    }
    .title_text {
      top:20px;
      padding-top: 40px;
      h4 {
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 3px;
      }
    }
  }
}